@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #app {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@layer components {
  .page-card {
    @apply bg-white dark:bg-gray-800 rounded-lg shadow-md p-6 transition-colors duration-300;
  }

  .page-title {
    @apply text-xl font-bold text-gray-800 dark:text-white;
  }
}
